# ========================
# General Node ignores
# ========================
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# ========================
# Backend
# ========================
/backend/node_modules/
# Env file with secrets
/backend/.env
# Firebase service account key (if you ever use a JSON file)
/backend/config/serviceAccountKey.json
/backend/dist/
#/backend/build/

# ========================
# Frontend
# ========================
/frontend/node_modules/
# Build output
/frontend/dist/
/frontend/.env
/frontend/.cache/

# ========================
# VSCode
# ========================
.vscode/

# ========================
# System files
# ========================
.DS_Store
Thumbs.db
