/* src/components/Navbar.css */

.rainbow-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  overflow: hidden;
  z-index: 50;
  top: 0;
  height: 250px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.rainbow-container.scrolled {
  height: 200px;
  width: 100%;
}

.svg-arch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: #00539b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1001;
  transition: all 0.3s ease-in-out;
}

.logo-container.scrolled {
  top: 0;
  transform: translateX(-50%) scale(1);
}

.inner-circle {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-svg {
  height: 100px;
  width: auto;
  align-self: center;
}

.nav-links {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  height: 0; /* we now absolutely position links along the path */
  display: block;
  z-index: 1002;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-links.scrolled {
  top: 60px;
  font-size: 1rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color 0.2s, transform 0.3s ease-in-out;
  white-space: nowrap;
  transform-origin: center;
  position: absolute;
}

.nav-link:hover {
  color: #ffd700;
}
